<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses" #cardRef3>  
    <course-card
    (courseSelected)="onCourseSelected($event)" 
    [course]="coursesList[0]">
    </course-card>
    <course-card #cardRef
    (courseSelected)="onCourseSelected($event)" 
    [course]="coursesList[1]">
    </course-card>
    <course-card #cardRef2
    (courseSelected)="onCourseSelected($event)" 
    [course]="coursesList[2]">
    </course-card>
</div>
